---
import "../styles/global.css";
---

<div
    class="flex h-full w-full items-center justify-center max-w-screen-xl mx-auto bg-[#e8d2ba]"
>
    <div
        class=" flex flex-col lg:flex-row items-center justify-center gap-4 text-center  lg:w-1/2 rounded-lg  bg-white w-[375px] m-2 lg:m-0"
    >
        <div class="lg:w-1/2 lg:h-[27rem] ">
            <img
                src="images/image-product-desktop.jpg"
                alt=""
                class="w-full h-full rounded-l-lg object-cover lg:block hidden"
            />
            <img
                src="images/image-product-mobile.jpg"
                alt=""
                class="w-full h-full rounded-t-lg object-cover lg:hidden"
            />
        </div>
        <div class="lg:w-1/2 bg-white rounded-r-lg p-4 gap-4 flex flex-col items-start ">
            <p class="font-montserrat tracking-[.35em] text-gray-500">PERFUME</p>
            <div class="font-fraunces font-bold text-3xl text-start">
                <p class="lg:block hidden">Gabrielle</p>
                <p class="lg:block hidden">Essence Eau</p>
                <p class="lg:block hidden">De Parfum</p>
                <p class="lg:hidden">Gabrielle Essence </p>
                <p class="lg:hidden">Eau De Parfum</p>
            </div>
            
            <div class="text-[14px] text-start text-gray-500">
                <p>A floral, solar and voluptuouss</p>
                <p>interpretation composed by</p>
                <p>Olivier Polge, Perfumer-Creator</p>
                <p>for the house of CHANEL.</p>

            </div>
            <div class="flex gap-4 ">
                <p class="text-3xl text-green font-fraunces font-bold ">$149.99</p>
                <p class="line-through font-montserrat text-gray-500">$169.99</p>
            </div>
            <button class="bg-green w-full rounded-lg p-2  font-montserrat font-semibold text-white flex gap-4 items-center justify-center">
                <img src="images/icon-cart.svg" alt="" class="w-4 h-4" />
                Add to cart
            </button>
        </div>
    </div>
</div>
